<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upf.pillup">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CONTROLLERS.Login"
            android:label="PILLUP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CONTROLLERS.Sign_Up" />
        <activity android:name=".CONTROLLERS.Home" />
        <activity android:name=".HOME_ICONS.Calendar" />
        <activity android:name=".HOME_ICONS.Pills" />
        <activity android:name=".HOME_ICONS.Profile" />
        <activity android:name=".HOME_ICONS.Buy" />
        <activity android:name=".HOME_ICONS.Add_Pills" />
        <activity android:name=".HOME_ICONS.Call"    />
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>